<!doctype html >
<html ng-app='history-project'>
<head>
  <title><%= title%></title>
  <% include ../layout/head_history %>
</head>
<body >
  <% include ../layout/history_header %>
  <div class="container" ng-view></div>
</body>
</html>