<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KPI</title>
  <style>
    tr>th {
      border-top: 0px !important;
    }
  </style>
  <script src= "../../../vendor/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="../../../vendor/bootstrap/dist/css/bootstrap.min.css">
  <script src= "../../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <% include ../layout/history_header %>
  <div class="container">
    <table class="table-hover table">
      <tr>
        <th>TesterId</th>
        <th>Username</th>
        <th>Review Time</th>
        <th>Test Cycle</th>
      </tr>
    </table>
  </div>
</body>
</html>