<h1><%= message %></h1>
<h2><%= error.status %></h2>


<hr>
<p>Got a account? <a href="/login">Sign in</a></p>

<p>Need an account? <a href="/signup">Signup</a></p>
<p>Or go <a href="/">home</a>.</p>
