<h1><%= message %></h1>    
<h2><%= error.status %></h2>   
<hr>
<p> Please contact the server administrator to get access to this page.</p>    
<p> vladimir.egorov@lge.com</p>
<p>Go <a href="/">home</a>.</p>