<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change password</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <style>
    .container {
      padding-top: 80px;
    }
  </style>
</head>
<body>
  <% include layout/profile_header %>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><span class="fa fa-cog"></span> Change Password</h1>
      
      <% if(success.length > 0) { %>
        <div class= "alert alert-success">
          <%= success %>
        </div>
      <% };
       if(error.length > 0) { %>
        <div class= "alert alert-danger">
          <%= error %>
        </div>
      <% } %>

      <form method = "post">
        <div class="form-group">
          <label for="oldPassword"> Old Password</label>
          <input type="password" class = 'form-control' name = 'oldPassword' autofocus>
          <label for="newPassword">New Password</label>
          <input type="password" class = 'form-control' name = 'newPassword'>
          <label for="confirm"> Confirm Password</label>
          <input type="password" class = 'form-control' name = 'confirm'>
        </div>
        <button type = 'submit' class="btn btn-primary"> Submit </button>
      </form>
    </div>
  </div>
</body>
</html>