<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <style>
    tr>th {
      border-top: 0px !important;
    }
  </style>
  <% include layout/head_history %>

</head>
<body>
  <% include layout/history_header %>
  <div class="container">
    <div id="error-notice">No data for this date. Please try another.</div>
  </div>
</body>
</html>