<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <script>

  function goBack(){
    window.location.pathname = "/";
  }

  function goToLoginPage() {
    window.location.pathname = "/login";
  }

  document.onreadystatechange =function(){
    if(document.readyState === "complete") {
      var back = document.getElementById("back-button");
      back.addEventListener("click", goBack)
    }
  } ;
  </script>
  <style>
    .container { padding-top:10%; }
  </style>
</head>
<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><span class="fa fa-wrench"></span> Forgot Password</h1>
      
      <% if(success.length > 0) { %>
        <div class= "alert alert-success">
          <%= success %>
        </div>
      <% };
       if(error.length > 0) { %>
        <div class= "alert alert-danger">
          <%= error %>
        </div>
      <% } %>
      
      <form action="/forgotPassword" method="post" accept-charset="utf-8">
        <div class="form-group">
          <label for="mail">Email</label>
          <input type="text" class = "form-control" name="email" autofocus>
        </div>
        <button id = "back-button" type="button" class="btn btn-primary">Go Back</button>
        <button type = "submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
</body>
</html>