<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get away!</title>
</head>
<body>
  <h1><span>You do not belong here</span></h1><br>
  <img src="http://images.sciencedaily.com/2010/02/100218102448-large.jpg" alt="">
</body>
</html>