<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <style>
  .center-text {
    font-family: Verdana, Geneva, sans-serif;
    position: absolute;
    left:35%;
    top:45%;
  }
  .small-text {
    font-size:.45em;
    text-align: right;
  }
  </style>
</head>
<body>

<% var region  = path.split('/')[1] %>

  <h2 class='center-text '>Your message was sent successfully! <p class='small-text'>Go to <a href="/<%= region%>/main">main</a></p></h2>

</body>
</html>