<!doctype html >
<html ng-app='project'>
<head>
  <title>GKSA</title>

  <% include layout/head_main %>

</head>

<body >

  <% include layout/header %>
  <ul class="nav nav-tabs" id='mainTab'>
    <li  class="active"><a id='clickHere' href="#" >List of apps</a></li>
    <li><a href="#calendar" >Calendar</a></li>
    <li><a href="#test" >Test Cycles</a></li>
  </ul>

<div class="container" ng-view></div>
<script>
  $('#mainTab a').click(function () {
    $(this).tab('show')
  });
</script>
<script>

var userG= <%- JSON.stringify(user.local.group) %>

</script>

</body>
</html>