<!DOCTYPE html>
<html ng-app='sbcmember'>
  <head>
    <meta charset="utf-8">
    <title>Sbc Member</title>

    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <style>
      #addMemberBtn {
        margin-bottom: 15px;
      }
    </style>
    <!-- Jquery -->
    <script src= "../vendor/jquery/dist/jquery.min.js"></script>
    <script src= "../vendor/jquery/jquery-ui-1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../vendor/jquery/jquery-ui-1.11.1/jquery-ui.min.css">
    <script src='../js/mindmup-editabletable.js'></script>
    <!-- Bootstrap -->
    <script src= "../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src= "../vendor/angular/angular.min.js"></script>
    <script src="../js/sbcmember.js"></script>

  </head>
  <body>
    <% include layout/profile_header %>
    <div class="container" ng-controller="members">
      <input type="button" id="addMemberBtn" class="btn btn-default" data-toggle="modal" data-target="#addMember" value="Add new member">
      <table class="table-hover table">
        <tr>
          <th>Name</th>
          <th>Mail</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat='member in data'>
          <td>{{member.name}}</td>
          <td>{{member.mail}}</td>
          <td><div class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#updateMember" ng-click="openUpdateForm(member)"></div></td>
          <td><div class="glyphicon glyphicon-remove" ng-click="delete(member._id)"></div></td>
        </tr>
      </table>
      <div class="modal fade" role="dialog" id="addMember">
        <div class="modal-dialog modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new member</h4>
          </div>
          <form class="modal-body" ng-submit='submit()' value="Submit">
            <div class="form-group">
              <input class="form-control" id="mail" ng-model="newMail" name="mail" type="email" placeholder="Mail" required >
            </div>
            <div class="form-group">
              <input class="form-control" id="name" name="name" ng-model="newName" type="text" placeholder="Name" required >
            </div>
            <div class="modal-footer">
              <input type="submit" value="Submit"  class='btn btn-default'>
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" role="dialog" id="updateMember">
        <div class="modal-dialog modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update member</h4>
          </div>
          <form class="modal-body" ng-submit='updateMember()' value="Submit">
            <div class="form-group">
              <input class="form-control" id="mail" ng-model="updMember.mail" name="mail" type="email" placeholder="Mail" required >
            </div>
            <div class="form-group">
              <input class="form-control" id="name" name="name" ng-model="updMember.name" type="text" placeholder="Name" required >
            </div>
            <div class="modal-footer">
              <input type="submit" value="Submit"  class='btn btn-default'>
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
            </div>
          </form>
        </div>
      </div>

    </div>
  </body>
</html>
