<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Tester</title>
  <link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.min.css">

  <!-- Jquery -->
  <script src= "../../vendor/jquery/dist/jquery.min.js"></script>
  <script src= "../../vendor/jquery/jquery-ui-1.11.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../vendor/jquery/jquery-ui-1.11.1/jquery-ui.min.css">
  <!-- Bootstrap -->
  <script src= "../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src= "../../vendor/angular/angular.min.js"></script>
  <script src='../../js/controllers/newTesterUser.js'></script>
  <script src='../../js/factories/Users.js'></script>
  <script src='../../js/factories/CIS/addTester.js'></script>
  <script src='../../js/factories/EU/addTester.js'></script>
  <script src='../../js/factories/Sandbox/addTester.js'></script>
  <script src='../../js/factories/SIA/addTester.js'></script>
  <script src='../../js/factories/CISEU/addTester.js'></script>
  <style>
    .container {
      position:absolute;
      left:30%;
      top:20%;
    }
    .form-control {
      width: 200px;
    }
  </style>
</head>
<body ng-app='newTester'>
<% var route = path.split('/')[3]%>
<% if(route ==='newCISEU'){ %>
  <div class="container" ng-controller="ciseuCtrl">
  <h2>CIS+EU new tester</h2>
      <form name='myForm'>
    <div class="form-group">
      <div class="form-group">
        <label>Id</label>
        <input id='id_name' required name='name' class="form-control"  type="text" ng-model='ciseuData.name'><br>
      </div>
      <div class='form-group'>
        <label> User </label>
        <select class="form-control" ng-model='ciseuData.user' name="" id="" >
          <option value="">Empty</option>
          <option ng-repeat='user in users'   value="{{user._id}}" >{{user.local.username.last}} {{user.local.username.first}}</option>
        </select><br>
      </div>
      <button type='submit'  ng-disabled="myForm.$invalid" onclick="location.href='/tools/testers'" ng-click='createTester()' class='btn btn-primary btn-lg' >Create</button>
    </div>
    </form>
<% } else if(route ==='newCIS'){ %>
  <div class="container" ng-controller="cisCtrl">
  <h2>CIS new tester</h2>
      <form name='myForm'>
    <div class="form-group">
      <div class="form-group">
        <label>Id</label>
        <input id='id_name' required name='name' class="form-control"  type="text" ng-model='cisData.name'><br>
      </div>
      <div class='form-group'>
        <label> User </label>
        <select class="form-control" ng-model='cisData.user' name="" id="" >
          <option value="">Empty</option>
          <option ng-repeat='user in users'   value="{{user._id}}" >{{user.local.username.last}} {{user.local.username.first}}</option>
        </select><br>
      </div>
      <button type='submit'  ng-disabled="myForm.$invalid" onclick="location.href='/tools/testers'" ng-click='createTester()' class='btn btn-primary btn-lg' >Create</button>
    </div>
    </form>
<%} else if(route==='newEU'){ %>
  <div class="container" ng-controller="euCtrl">
  <h2>EU new tester</h2>
      <form name='myForm'>
    <div class="form-group">
      <div class="form-group">
        <label>Id</label>
        <input id='id_name' required name='name' class="form-control"  type="text" ng-model='euData.name'><br>
      </div>
      <div class='form-group'>
        <label> User </label>
        <select class="form-control" ng-model='euData.user' name="" id="" >
          <option value="">Empty</option>
          <option ng-repeat='user in users'   value="{{user._id}}" >{{user.local.username.last}} {{user.local.username.first}}</option>
        </select><br>
      </div>
      <button type='submit'  ng-disabled="myForm.$invalid" onclick="location.href='/tools/testers'" ng-click='createTester()' class='btn btn-primary btn-lg' >Create</button>
    </div>
    </form>
<% }  else if(route==='newSandbox'){ %>
<div class="container" ng-controller="sandboxCtrl">
  <h2>Sandbox new tester</h2>
      <form name='myForm'>
    <div class="form-group">
      <div class="form-group">
        <label>Id</label>
        <input id='id_name' required name='name' class="form-control"  type="text" ng-model='sandboxData.name'><br>
      </div>
      <div class='form-group'>
        <label> User </label>
        <select class="form-control" ng-model='sandboxData.user' name="" id="" >
          <option value="">Empty</option>
          <option ng-repeat='user in users'   value="{{user._id}}" >{{user.local.username.last}} {{user.local.username.first}}</option>
        </select><br>
      </div>
      <button type='submit'  ng-disabled="myForm.$invalid" onclick="location.href='/tools/testers'" ng-click='createTester()' class='btn btn-primary btn-lg' >Create</button>
    </div>
    </form>
<% } else if(route === 'newSIA') { %>
   <div class="container" ng-controller="siaCtrl">
   <h2>SIA new tester</h2>
      <form name='myForm'>
    <div class="form-group">
      <div class="form-group">
        <label>Id</label>
        <input id='id_name' required name='name' class="form-control"  type="text" ng-model='siaData.name'><br>
      </div>
      <div class='form-group'>
        <label> User </label>
        <select class="form-control" ng-model='siaData.user' name="" id="" >
          <option value="">Empty</option>
          <option ng-repeat='user in users'   value="{{user._id}}" >{{user.local.username.last}} {{user.local.username.first}}</option>
        </select><br>
      </div>
      <button type='submit'  ng-disabled="myForm.$invalid" onclick="location.href='/tools/testers'" ng-click='createTester()' class='btn btn-primary btn-lg' >Create</button>
    </div>
    </form>
<% } %>

</div>
</body>
</html>
