<!doctype html >
<html ng-app='project'>
<head>
  <title>Oudated apps</title>
  <% include layout/head_main^ %>
</head>
<body >
  <% include layout/header %>
  <div class="container" ng-view></div>
  <script>
  var userG= <%- JSON.stringify(user.local.group) %>
  </script>
</body>
</html>