<!doctype html>
<html ng-app='postmail'>
<head>
  <title>Post mail</title>

  <% include layout/head_main^ %>
  <script src='../../js/postmail.js'></script>
  <link rel="stylesheet" href="../../css/postmail.css">
</head>
<body ng-controller='post'>
    <% include layout/header %>
    <div class="container-fluid row">
      <div class = "notice-center">
        <span>
          <b>Notice: </b>In case you need custom template or mail list for your region please contact <b>vladimir.egorov@lge.com</b>
        </span>
      </div>
      <form ng-submit='submit()'>
        <div class='col-md-offset-1 col-md-5' ><textarea name="changeText" id="writeToWin" cols="80" rows="30" ng-model="previewText"></textarea></div>
        <div class='col-md-5'  ng-bind-html="previewText | unsafe"></div>
      <div class="container ">
        <button type="submit" id="send" class="btn btn-success">Send</button>
      </div>
      </form>
    </div>
</body>
</html>
