<!doctype html >
<html>
<head>
  <title>Post mail</title>

  <% include layout/head_main %>

  <link rel="stylesheet" href="css/postmail.css">
</head>
<body>
    <% include layout/header %>
  <div class="container">
    <div><textarea name="changeText" id="writeToWin" cols="80" rows="30"></textarea></div>
    <div id='preview'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam officiis, quae libero ducimus aut rerum laborum quod qui quasi sunt quibusdam reprehenderit tempore sequi doloribus, aperiam odit sapiente quam laboriosam ipsum commodi soluta officia dolorum. Assumenda sint, adipisci voluptates, nulla in atque cumque, optio nostrum odio cupiditate voluptas obcaecati molestias ut sapiente! Odit officiis, cumque totam officia ipsa sit explicabo minus reprehenderit eos, alias eveniet quod perspiciatis aperiam neque. Iusto recusandae quibusdam cupiditate ducimus unde laboriosam ipsam esse aliquid reprehenderit fugit tempora eos commodi voluptatibus minus dolorem, soluta alias dolor iste non similique corporis ut, iure facere quidem debitis. Sint natus eveniet culpa id tempore cumque vero dicta molestiae numquam non aliquam laborum atque, officia sequi porro animi voluptate quaerat error. Ipsa optio architecto dolores laborum, amet, tempore, odio eum nihil est numquam facilis. Enim obcaecati autem culpa dolore quos, vero repellat ex animi dolorem, consequatur et expedita soluta? Consequuntur ullam, aut laboriosam expedita recusandae eligendi blanditiis sapiente provident asperiores quisquam, vitae adipisci sint assumenda odio, incidunt tempora corrupti quod quo vero, earum aspernatur ipsa quis et! Dolor nesciunt, laborum voluptatem iste deserunt quae, incidunt ab quod, adipisci laboriosam minima et ipsam veritatis distinctio vitae. Dignissimos illo recusandae in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nesciunt blanditiis dolor ullam, incidunt veritatis voluptatem, est placeat deleniti inventore repellendus? Repellat fuga ducimus, error, est mollitia id vero possimus odit molestias ut unde tenetur autem non eaque quaerat. Enim id ipsum animi natus nulla provident ducimus esse distinctio veritatis alias pariatur cum ipsam est molestias praesentium modi, vero voluptatum. Cupiditate quam eligendi earum voluptas est culpa optio animi! Quisquam amet consequatur id animi deleniti vitae laborum autem quidem pariatur fugiat dolor laboriosam, veniam. Culpa voluptates recusandae expedita natus facere, illum sequi sunt suscipit. Fugiat nostrum nesciunt laborum! Possimus, ducimus?</div>
  </div>
  <div id="emailStorage">
    <label for="sendTo">To</label>
    <div id="sendTo">Lorem ipsum dolor sit amet.</div>
    <label for="sendCC">CC</label>
    <div id="sendCC">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium porro autem, reprehenderit iure delectus culpa rem earum illum nobis blanditiis, veniam consectetur nemo eligendi cum.</div>
  </div>
  <div class="container buttonPlace">
  <button type="button" id="send" class="btn btn-success">Send</button>
  </div>
</body>

</html>
