<!doctype html>
<html ng-app='postmail'>
<head>
  <title>Post mail</title>

  <% include layout/head_main %>
  <script src='js/postmail.js'></script>
  <link rel="stylesheet" href="css/postmail.css">
</head>
<body ng-controller='post'>
    <% include layout/header %>
  <form ng-submit='submit()'>
  <div class="container">
    <div><textarea name="changeText" id="writeToWin" cols="80" rows="30" ng-model="previewText"></textarea></div>
    <div id='preview' ng-bind-html="previewText | unsafe"></div>
  </div>
  <div id="emailStorage">
    <label for="sendTo">To</label>
    <div id="sendTo">Lorem ipsum dolor sit amet.</div>
    <label for="sendCC">CC</label>
    <div id="sendCC">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium porro autem, reprehenderit iure delectus culpa rem earum illum nobis blanditiis, veniam consectetur nemo eligendi cum.</div>
  </div>
  <div class="container buttonPlace">
  <button type="submit" id="send" class="btn btn-success">Send</button>
  </div>
  </form>
</body>

</html>
