<!doctype html>
<html ng-app='postmail'>
<head>
  <title>Post mail</title>

  <% include layout/head_main %>
  <script src='../js/postmail.js'></script>
  <link rel="stylesheet" href="../css/postmail.css">
</head>
<body ng-controller='post'>
    <% include layout/header %>
  <form ng-submit='submit()'>
  <div class="container">
    <div id='textHandler'><textarea name="changeText" id="writeToWin" cols="80" rows="30" ng-model="previewText"></textarea></div>
    <div id='preview' ng-bind-html="previewText | unsafe"></div>
  </div>

  <div class="container buttonPlace">
  <button type="submit" id="send" class="btn btn-success">Send</button>
  </div>
  </form>
  
</body>

</html>
