<!doctype html>
<html ng-app='postmail'>
<head>
  <title>Post mail</title>

  <% include layout/head_main^ %>
  <script src='../../js/postmail.js'></script>
  <link rel="stylesheet" href="../../css/postmail.css">
</head>
<body ng-controller='post'>
    <% include layout/header %>
    <div class="container-fluid row ">
      <div class = "notice-center">
        <span>
          <b>Notice: </b>In case you need custom template or mail list for your region please contact <b>vladimir.egorov@lge.com</b>
        </span>
      </div>
      <form ng-submit='submit()' class='container-fluid'>
        <div class='col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-5 indent-container' ><textarea name="changeText" id="writeToWin" cols="80" rows="30" ng-model="previewText"></textarea></div>
        <div class='col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-offset-lg-1 col-xs-10 col-sm-10 col-md-10 col-lg-5'  ng-bind-html="previewText | unsafe"></div>
        <div class=" col-xs-offset-1 col-sm-offset-1 col-md-offset-6 col-offset-lg-6 col-xs-10 col-sm-10 col-md-10 col-lg-5 ">
          <button type="submit" id="send" class="btn btn-success">Send</button>
        </div>
      </form>
    </div>
</body>
</html>
