<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tools - Rate settings</title>
  <% include layout/head_main %>
  <script src='../../vendor/d3/d3.js'></script>
  <script src='../../js/rateSettings.js'></script>

  <style>

  .axis text {
    font: 10px sans-serif;
    fill: rgba(88, 89, 93, .5);
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .axis line {
    fill: none;
    stroke: rgba(88, 89, 93, .3);
    shape-rendering: crispEdges;
  }

  .line {
    stroke: rgb(247, 150, 29);
    stroke-width: 2;
    fill: none;
  }
  </style>

</head>
<body ng-app='rate'>
  <% include layout/profile_header %>
  <div class="container" ng-controller="rateSettings">
    <div rate-chart chart-data='data'></div>
  </div>
</body>
</html>