<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tools - Rate settings</title>
  <% include layout/head_main %>
  <script src='../../vendor/d3/d3.js'></script>
  <script src='../../js/rateSettings.js'></script>

  <style>

  .axis text {
    font: 12px sans-serif;
    /*fill: rgba(88, 89, 93, .5);*/
    font-weight: bold;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .axis line {
    fill: none;
    stroke: rgba(88, 89, 93, .3);
    shape-rendering: crispEdges;
  }

  .line {
    stroke: rgb(247, 150, 29);
    stroke-width: 2;
    fill: none;
  }

  .body {
    background-color: #000;
  }
  </style>

</head>
<body ng-app='rate'>
  <div class="container" ng-controller="rateSettings">

     <!--  <table class="table table-striped table-borderes table-hover table-responsive">
        <tr>
          <th></th>
          <th>Total</th>
          <th>Pass</th>
          <th>Fail</th>
          <th>Pass Rate</th>
        </tr>
        <tr ng-repeat=" month in data.months">
          <td>{{month.monthNumber | month}}</td>
          <td>{{month.total}}</td>
          <td>{{month.pass}}</td>
          <td>{{month.fail}}</td>
          <td>{{((month.pass/month.total) *100).toFixed(2)}}</td>
        </tr>
      </table> -->

    <div rate-chart chart-data='data'></div>
  </div>
</body>
</html>
