<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Recovery</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
    .container { padding-top:10%; }
  </style>
</head>
<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><span class="fa fa-wrench"></span>Password Recovery</h1>
      
      <% if(success.length > 0) { %>
        <div class= "alert alert-success">
          <%= success %>
        </div>
      <% }; %>
      <% if(error.length > 0) { %>
        <div class= "alert alert-danger">
          <%= error %>
        </div>
      <% } %>
      
      <form method="post" accept-charset="utf-8">
        <div class="form-group">
          <label for="password">New password</label>
          <input type="password" class = "form-control" name="password" autofocus>
          <label for="confirm">Confirm password</label>
          <input type="password" class = "form-control" name="confirm" >
        </div>
        <button type = "submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
</body>
</html>