<!DOCTYPE html>
<html ng-app="sdpSubscribe">
  <head>
    <meta charset="utf-8">
    <title>Subscribe sbc member</title>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <style>
      #addNewSubscribe, #subName {
        margin-bottom: 15px;
      }

      .icon-unwatch {
        margin-left: 5px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
        width: 20px;
        height: 11px;
      }

      .label-list {
        margin: 5px;
      }

      .subInfo{
        width: 500px;
      }
      .subInfo>div {
        display:inline-block;
      }

    </style>
    <!-- Polyfill -->
    <script src="../js/object-assign.js"></script>

    <!-- Jquery -->
    <script src= "../vendor/jquery/dist/jquery.min.js"></script>
    <script src= "../vendor/jquery/jquery-ui-1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../vendor/jquery/jquery-ui-1.11.1/jquery-ui.min.css">
    <script src='../js/mindmup-editabletable.js'></script>
    <!-- Bootstrap -->
    <script src= "../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src= "../vendor/angular/angular.min.js"></script>

    <script src="../js/sdpSubscribe.js"></script>
  </head>
  <body>
    <% include layout/profile_header %>

    <div class="container" ng-controller="subscribe">
      <input id="addNewSubscribe" data-toggle="modal" data-target="#addSubModal" ng-click="clearForm()" type="button" class="btn btn-default" value="Add new application">
      <table class="table table-hover">
        <tr>
          <th>Application Id</th>
          <th>Application Name</th>
          <th>Subscribers</th>
          <th>Add <div class="glyphicon glyphicon-eye-open"></div></th>
        </tr>
        <tr ng-repeat="app in watching">
          <td>{{app.id.split(" ")[0]}}</td>
          <td>{{app.name}}</td>
          <td class="subInfo"><div ng-repeat="subs in app.subscribers track by $index" class="btn label-list label label-primary">{{subs.name}} ( {{subs.mail}} ) <div class="icon-unwatch glyphicon glyphicon-eye-close" ng-click="unsubscribe(app._id, subs._id)" ></div></td>
          <td><div  class=" btn  glyphicon glyphicon-plus" ></div></td>
        </tr>
      </table>
      <div class="modal fade" role="dialog" id="addSubModal">
        <div class="modal-dialog modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new application</h4>
          </div>
          <form class="modal-body" ng-submit='submit()'>
            <div class="form-group">
              <label for="appName">Application name</label>
              <select class="form-control" name="appName" ng-model="newAppSubId" id="appName">
                <option ng-repeat="data in notWatching track by $index" value="{{data._id}}">
                  {{data.name}} {{data.id.split(" ")[0]}}
                </option>
              </select>
            </div>
            <div class="well form-group">
              <label for="subName">Subscriber</label>
              <select class="form-control" name="subName" id="subName" ng-model="newSub">
                <option ng-repeat="subscriber in form.subscribers track by $index" value="{{subscriber.name}}">{{subscriber.name}}</option>
              </select>
              <input type="button" class="btn btn-default" value="Add"  ng-click="addSubscribe(newSub)">
            </div>
            <div class="form-group">
              <label for="subList" >Subscribers</label>
              <textarea class="form-control" name="subList" cols="75" rows="3" readonly>{{form.subList.toString()}}</textarea>
            </div>
            <div class="form-group" ng-show=false >
              <textarea name="subId"  rows="8" cols="40">{{form.subId}}</textarea>
            </div>
            <div class="modal-footer">
              <input type="submit"  class='btn btn-default'>
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
