<!DOCTYPE html>
<html ng-app="sdpSubscribe">
  <head>
    <meta charset="utf-8">
    <title>Subscribe sbc member</title>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/subscription.css">
    <!-- Polyfill -->
    <script src="../js/object-assign.js"></script>

    <!-- Jquery -->
    <script src= "../vendor/jquery/dist/jquery.min.js"></script>
    <script src= "../vendor/jquery/jquery-ui-1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../vendor/jquery/jquery-ui-1.11.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../vendor/ui-select/dist/select.min.css">
    <script src='../js/mindmup-editabletable.js'></script>
    <!-- Bootstrap -->
    <script src= "../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src= "../vendor/angular/angular.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.23/angular-sanitize.min.js"></script>

    <script src="../vendor/ui-select/dist/select.min.js"></script>

    <script src="../js/sdpSubscribe.js"></script>
  </head>
  <body>

    <% include layout/profile_header %>

    <div class="container" ng-controller="subscribe">

      <input id="addNewSubscribe" data-toggle="modal" data-target="#startWatching" ng-click="clearForm()" type="button" class="btn btn-default" value="Add new application">

      <input type="text" placeholder="Search" class="form-control" ng-model="searchApp" id="search-field">

      <table class="table table-hover">
        <tr>
          <th>Application Id</th>
          <th>Application Name</th>
          <th>Story</th>
          <th>Issue</th>
          <th>Subscribers</th>
          <th>Edit</th>
          <th>Add <div class="glyphicon glyphicon-eye-open"></div></th>
        </tr>
        <tr ng-repeat="app in watching | filter:searchApp">
          <td>{{app.id.split(" ")[0]}}</td>
          <td>{{app.name}}</td>
          <td>{{app.story}}</td>
          <td>{{app.issue}}</td>
          <td class="subInfo"><div ng-repeat="subs in app.subscribers track by $index" class="label-list label label-primary">{{subs.name}} ( {{subs.mail}} ) <div class="btn unwatch-btn glyphicon glyphicon-eye-close" ng-click="unsubscribe(app._id, subs._id)" ></div></td>
          <td><div class="btn glyphicon glyphicon-edit" data-toggle="modal" data-target="#editJira" ng-click="editJiraTickets(app._id, app.story, app.issue)"></div></td>
          <td><div class="btn glyphicon glyphicon-plus" data-toggle="modal" data-target="#addSub" ng-click="addSub(app._id, app.subscribers)"></div></td>
        </tr>
      </table>

      <div class="modal fade" role="dialog" id="startWatching">
        <div class="modal-dialog modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new application</h4>
          </div>
          <form name="addWatcher" class="modal-body" ng-submit='submit()'>
            <div class="form-group">
              <label for="appName">Application name</label>
              <%# <select required class="form-control" name="appName" ng-model="newAppSubId" id="appName">
                <option ng-repeat="data in notWatching track by $index" value="{{data._id}}">
                  {{data.name}} {{data.id.split(" ")[0]}}
                </option>
              </select>%>
              <ui-select required
                         ng-model="newAppSubId.select"
                         theme="bootstrap"
                         >
                <ui-select-match placeholder="Enter application id or title...">{{$select.selected.id.split(" ")[0]}} {{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="data in notWatching | filter: { name: $select.search, id: $select.search }">
                  <div ng-bind-html="data.id.split(' ')[0] + ' ' + data.name  | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="form-group">
              <label for="story">Story</label>
              <input type="text" class="form-control" name="story" ng-model="form.story" id="story">
            </div>
            <div class="form-group">
              <label for="issue">Issue</label>
              <input type="text" class="form-control" name="issue" ng-model="form.issue" id="issue">
            </div>
            <div class="well form-group">
              <label for="subName">Subscriber</label>
              <select class="form-control" name="subName" id="subName" ng-model="newSub">
                <option ng-repeat="subscriber in form.subscribers track by $index" value="{{subscriber.name}}">{{subscriber.name}} ( {{subscriber.mail}} )</option>
              </select>
              <input type="button" class="btn btn-default" value="Add"  ng-click="addSubscribe(newSub)">
              <span id="hidden-msg"> Please add subscribers to continue</span>
            </div>
            <div class="form-group">
              <label for="subList" >Subscribers</label>
              <input class="form-control" name="subList" readonly required value={{form.subList.toString()}}>
            </div>
            <div class="form-group" ng-show=false >
              <textarea name="subId"  rows="8" cols="40">{{form.subId}}</textarea>
            </div>
            <div class="modal-footer">
              <input type="submit" ng-disabled="addWatcher.$invalid" class='btn btn-default' value="Submit">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" role="dialog" id="addSub">
        <div class="modal-dialog modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new subscriber</h4>
          </div>
          <form name="addSubscriber" class="modal-body" ng-submit="subSubmit(currentAppId, newSubscriber)">
            <div class="form-group">
              <label for="subSelect">Subscriber</label>
              <select required name="subSelect" id="" class="form-control" ng-model="newSubscriber">
                <option ng-repeat="s in unsubs track by $index" value="{{s._id}}">{{s.name}} ({{s.mail}})</option>
              </select>
            </div>
            <div class="form-group">
              <input type="submit" value="Submit" ng-disabled="addSubscriber.$invalid" class="btn btn-default">
              <input type="button" class=" btn btn-default" data-dismiss="modal" value="Close">
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" role="dialog" id="editJira">
        <div class="modal-dialog modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new subscriber</h4>
          </div>
          <form name="editJiraTicket" class="modal-body" ng-submit="editJira(currentAppId, jira)">
            <div class="form-group">
              <label for="Story">Story</label>
              <input type="text" name="Story" id="" class="form-control" ng-model="edit.story">
            </div>
            <div class="form-group">
              <label for="Issue">Issue</label>
              <input type="text" name="Issue" id="" class="form-control" ng-model="edit.issue">
            </div>
            <div class="form-group">
              <input type="submit" value="Submit" ng-disabled="editJiraTicket.$invalid" class="btn btn-default">
              <input type="button" class=" btn btn-default" data-dismiss="modal" value="Close">
            </div>
          </form>
        </div>
      </div>

    </div>
  </body>
</html>
