<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tools - tester control</title>
  <% include layout/head_main %>
  <link rel="stylesheet" href="../css/testers.css">
</head>
<body>
  <% include layout/profile_header %>
  <div class="container">
    <a href="/tools/testers/new"><button>Create New Tester</button></a>
      <h3 class='table-header' id="cis-header">CIS Testers</h3>
      <table id='cisTester'>
        <th>Tester</th>
        <th>User</th>
      </table>
      <h3 class='table-header' id="eu-header">EU Testers</h3>
      <table id='euTester'>
        <th>Tester</th>
        <th>User</th>
      </table>
  </div>
</body>
</html>