<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tools - tester control</title>
  <% include layout/head_main %>
  <link rel="stylesheet" href="../css/testers.css">
  <script src='../../js/controllers/newTesterUser.js'></script>
  <script src='../../js/factories/Users.js'></script>
  <script src='../../js/factories/testerCIS.js'></script>
  <script src='../../js/factories/testerEU.js'></script>
</head>
<body ng-app='newTester'>
  <% include layout/profile_header %>
  <div class="container">
    <div class='inner-container' ng-controller="cisCtrl">
    <a href="/tools/testers/newCIS"><button id='cis-add'>Create New CIS Tester</button></a>

    <h3 class='table-header' id="cis-header">CIS Testers</h3>
    <table id='cisTester' >
      <tr>
        <th>Tester</th>
        <th>User</th>
      </tr>
      <tr ng-repeat='data in cisTesterData'>
        <td>{{data.name}}</td>
        <td>{{data.user.local.username.first}} {{data.user.local.username.last}}</td>
      </tr>
    </table>
    </div>

    <div class="inner-container" ng-controller='euCtrl'>
    <a href="/tools/testers/newEU" ><button id='eu-add'>Create New EU Tester</button></a>
    <h3 class='table-header' id="eu-header">EU Testers</h3>
    <table id='euTester'>
      <tr>
        <th>Tester</th>
        <th>User</th>
      </tr>
      <tr ng-repeat='dataEu in euTesterData'>
        <td>{{dataEu.name}}</td>
        <td>{{dataEu.user.local.username.first}} {{dataEu.user.local.username.last}}</td>
      </tr>
    </table>
    </div>
  </div>
</body>
</html>