* {
  box-sizing: border-box;
}

.form-row {
  display: block;
}

.form-group {
  margin-left: 20%;
}

.form-row>label {
  display: block-inline;
  width: 200px;
  font-size: 15px;
  text-align: right;
}

.form-row>input, .form-row>select{
  font-size: 15px;
  width: 200px;
}

.search-container {
  margin-top:5px;
  margin-bottom: 5px;
}

.btn.btn-primary.btn-lg {
  width: 200px;
}

.button-holder {
  margin-left:25%;
}

.table-calendar {
  
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 725px;
    width: auto;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}
.orange {
    background-color: orange;
    color: white;
}

.pink {
    background-color: pink;
    color: white;
}

.add-button {
  width: 150px;
  height: 40px;
}

.container {
  margin-top:10px;
  width:90%;
}

table {
  border: 2px solid black ;
}

.fc-day>td {
  height:20px;
}

