* {
  box-sizing: border-box;
}

.form-row {
  display: block;
}

.form-group {
  margin-left: 20%;
}

.form-row>label {
  display: block-inline;
  width: 200px;
  font-size: 15px;
  text-align: right;
}

.form-row>input, .form-row>select{
  font-size: 15px;
  width: 200px;
}

.search-container {
  margin-top:5px;
  margin-bottom: 5px;
}

.btn.btn-primary.btn-lg {
  width: 200px;
}

.button-holder {
  margin-left:25%;
}


.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 725px;
    width: auto;
}

.green {
    background-color: green;
    color: black;
}

.grey {
    background-color: grey;
    color: black;
}

.greenCalendar {
    background-color: green;
    color: black;
    text-align: center;
}

.yellow {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red !important;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.purple {
    background-color:  rgb(209, 143, 209);
    color: black;
}
.orange {
    background-color: orange;
    color: black;
}

.orange-calendar {
    background-color: orange;
    color: black;
    text-align: center;
}

.pink {
    background-color: pink;
    color: white;
}


.purple-calendar {
    background-color: rgb(209, 143, 209);
    color: black;
    text-align:center;
}

.calendarll {
  background-color: orange;
  color: orange;
  text-align: center;
}



.add-button {
  width: 150px;
  height: 40px;
}

.container {
  margin-top:10px;
  width:90%;
}


.fc-day>td {
  height:20px;
}

div.ngCellText.ng-binding {
  height: 30px;
}

.calendar-btn {
  height: 25px;
  width: 70px;
}

.popover {
  z-index:9999;
  position: absolute;
}

.text-center {
  left: 45%;
  margin: 0;
}

.ng-scope.ngRow:hover {
  background-color: #ccc;
}

#notice-error {
  display: block;
  text-align: left;
}

.loading-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}