* {
  box-sizing: border-box;
}

.container>div{
  display: inline-block;
}

#writeToWin {
  margin-right: 20px;
  overflow: auto;
}
#preview {
  width: 500px;
}
textarea {
  resize: none;
}
label {
  margin-left: 20px;
}
#emailStorage>div{
  margin-left:40px;
}

#textHandler {
  float:left;
}

#send {
  position: absolute;
  top: 700px;
}