#addNewSubscribe, #subName {
  margin-bottom: 15px;
}

.label-list {
  margin: 5px;
}

.subInfo{
  width: 500px;
}
.subInfo>div {
  display:inline-block;
}

#hidden-msg {
  display: none;
}

#search-field{
  display: block;
  margin-bottom: 10px;
}

.unwatch-btn {
  padding: 0px;
  margin-left: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 15px;
  font-size: 11px;
  margin-top: -1px;
  margin-bottom: 1px;
}
