
button {
  display: block;
  position:absolute;
  margin: 10px;
}

table {
  display: block;
  position: absolute;
  margin:5px;

}

#cisTester {
  margin-top:15px;
  /*top:20%;*/
  margin-top:75px;
  left:10%;
}

#euTester {
  margin-top:15px;
  /*top:20%;*/
  margin-top:75px;
  left:30%;
}

#sandboxTester {
  margin-top:15px;
  /*top:20%;*/
  margin-top:75px;
  right:40%;
}

.table-header {
  display: block;
  position: absolute;
  padding: 5px;
  margin-bottom:5px;
}

#cis-header {
/*  top: 15%;
  left: 10%;*/
  left: 10%;
  margin-top: 45px;

}

#eu-header {
/*  top: 15%;
  left:30%;*/
  left:30%;
  float:left;
  margin-top: 45px;
}

#sandbox-header {
/*  top: 15%;
  left:30%;*/
  right:30%;
  float:right;
  margin-top: 45px;
}

th, td, tr {
  padding:5px;
  border: 1px solid black;
}

#cis-add {
  left:9.7%;
}

#eu-add {
  left:29.7%;
}