
    
<!--   <div class="gridStyle" ng-grid="gridOptions"></div>
 -->

<!-- <select name="Year" id="" >
  <option ng-repeat='Year in Schredules.years' value="{{Year}}">{{Year}}</option>
</select>

<select name="Month" id="">
  <option ng-repeat='Month in Schredules.months' value="{{Month}}">{{Month}}</option>
</select> -->
<input type='text' id='datepicker'>
<div class="container">

  <div class='inner-table-appName'>

    <table class='in-row' id='test'>
      <thead>
        <th>App Name</th>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>

  <div id='calendar'></div>
</div>
<!--     <div class="gridStyle" ng-grid="gridOptions"></div>
    <button ng-click='prev($event)'>&laquo Prev</button>
    <button ng-click='next($event)'>Next &raquo</button> -->
    
    <link rel="stylesheet" href="../css/calendar.css">
    <script src='../js/calendar.js'></script>
    <script src='../js/getCalendarData.js'></script>
    <script src='../js/datepicker.js'></script>
