<div class="container row table-calendar">
    
<!--   <div class="gridStyle" ng-grid="gridOptions"></div>
 -->

<select name="Year" id="" >
  <option ng-repeat='Year in Schredules.years' value="{{Year}}">{{Year}}</option>
</select>

<select name="Month" id="">
  <option ng-repeat='Month in Schredules.months' value="{{Month}}">{{Month}}</option>
</select>

  <table>
    <thead>
      <th>App Name</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat='calendarData in calendarDatas'>
        <td>{{calendarData.appName}}</td>
      </tr>
    </tbody>
  </table>
</div>

