<form >
    <div class="form-group">

      <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
      <div class='form-row'>
        <label>Country</label>
        <select name="country" id="table-country" ng-model="formData.country">
          <option value="Russia">Russia</option>
          <option value="Ukraine">Ukraine</option>
          <option value="Belarus">Belarus</option>
          <option value="Latvia">Latvia</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Lithuania">Lithuania</option>
          <option value="Estonia">Estonia</option>
          <option value="Uzbekistan">Uzbekistan</option>

        </select>
      </div>
      
      <div class='form-row'>
        <label>Application name</label>
        <input type="text" placeholder="app name" ng-model="formData.appName">
      </div>
      
      <div class='form-row'>
        <label> Category</label>
        <select name="category" id="table-category" ng-model='formData.category'>
          <option value="OTT">OTT</option>
          <option value="Pay TV">Pay TV</option>
          <option value="Broadcast">Broadcast</option>
          <option value="OTT + Pay TV">OTT + Pay TV</option>
          <option value="Others">Others</option>
        </select>
      </div>

      <div class='form-row'>
        <label>SDP status</label>
        <select name="sdp-status" id="table-sdp-status" ng-model='formData.sdpStatus'>
          <option value="Gk review request">Gk review request</option>
          <option value="GK rewiev">GK rewiev</option>
          <option value="GK Review Reject">GK Review Reject</option>
          <option value="Verification Request">Verification Request</option>
          <option value="Pre-test">Pre-test</option>
          <option value="Function Testing">Function Testing</option>
          <option value="Content Testing">Content Testing</option>
          <option value="Final review">Final review</option>
          <option value="App QA Approved">App QA Approved</option>
          <option value="App QA Rejected">App QA Rejected</option>
        </select>
      </div>

      <div class='form-row'>
        <label>Update Time</label>
        <input type="date" placeholder="say" ng-model="formData.updateTime"> 
      </div>

      <div class='form-row'>
        <label>Seller</label>
        <input type="text" placeholder="say" ng-model="formData.seller"> 
      </div>

      <div class='form-row'>
        <label>Tv</label>
        <select name="Tv" id="table-tv" ng-model='formData.tv'>
          <option value="Reject">Reject</option>
          <option value="Approve">Approve</option>
          <option value="Partial">Partial</option>
        </select>
      </div>

      <div class='form-row'>
        <label>Current status</label>
        <select name="current-status" id="table-current-status" ng-model='formData.currentStatus'>
          <option value="Waiting for fix">Waiting for fix</option>
          <option value="Waiting for test">Waiting for test</option>
          <option value="Waiting for QA">Waiting for QA</option>
        </select>
      </div>

      <div class='form-row'>
        <label>Test Cycles</label>
        <input type="text" placeholder="say" ng-model="formData.testCycles"> 
      </div>

      <div class='form-row'>
        <label>Reply Time</label>
        <input type="text" placeholder="say" ng-model="formData.replyTime"> 
      </div>
  
      <div class='form-row'>
        <label>Resp</label>
        <select name="resp" id="table-resp" ng-model='formData.resp'>
          <option value="YK">YK</option>
          <option value="DP">DP</option>
          <option value="VE">VE</option>
          <option value="AS">AS</option>
        </select>
      </div>
    
    </div>

    <!-- createApp() WILL CREATE NEW row with app -->
    <a href="#/"><button type="submit" class="btn btn-primary btn-lg" ng-click="createApp()">Add</button></a>
  </form>