<div class="container">
  <a href="#/newTest"><input type="button" value='Add' name='add' ng-show='{{perm}}' class='add-button'></input></a>
  <div class='testCycles' ng-repeat="tester in testers">
    <div class="testerId">{{tester.name}}</div>
    <table class="table table-striped table-borderes table-hover table-responsive">
      <tr>
        <th>Application name</th>
        <th>Date</th>
        <th>Reason</th>
      </tr>
      <tbody ng-repeat="storage in tester.appStorage">
        <tr class='test-cycle' ng-repeat="zz in storage.testCycleStorage">
          <td>{{storage.app.appName}}</td>
          <td>{{zz.date | date:"MM/dd/yyyy"}}</td>
          <td>{{zz.reason}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<link rel="stylesheet" href="../css/testlist.css">

