<div class="container">
  <div class='testCycles' ng-repeat="tester in testers">
    <div class="testerId">{{tester.name}}</div>
    <table class="table table-borderes table-hover table-responsive">
      <tr>
        <th>Application name</th>
        <th>Date</th>
        <th>Reason</th>
      </tr>
      <tbody ng-repeat="storage in tester.appStorage">
        <tr class='test-cycle' ng-repeat="zz in storage.testCycleStorage">
          <td>{{storage.app.appName}}</td>
          <td>{{zz.date | date:"dd/MM/yyyy"}}</td>
          <td>{{zz.reason}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<link rel="stylesheet" href="../../../css/testlist.css">

