<div class="container">
<form name="testCycle" action="">
    <div class="form-group">

      <div class='form-row'>
        <label>Application name</label>
        <select ng-required='true' name="appNameTest" id="appNameTest" ng-model='testCycle.appNameTest' ng-options='o as o for o in temps'>
          <option value="">==choose app==</option>
        </select>
      </div>
      
      <div class='form-row'>
        <label>Date</label>
        <input name='date' ng-model='testCycle.date' type="date" ng-required='true'>
      </div>
    
      <div class='form-row'>
        <label>Reason</label>
        <textarea ng-required='true' ng-model='testCycle.reason' name="reason" id="" cols="23" rows="5">Several issues were found on App QA stage</textarea>
        <textarea name="" id="" cols="30" rows="10">Several issues were found on App QA stage</textarea>
      </div>

      <div class='form-row'>
      <label>Current Tester</label>
      <select ng-required='true' ng-model='Tester1' ng-options='testerData.tester for testerData in testerDatas' id="">
        <option value="">==choose tester==</option>
      </select>
      </div>
    
    </div>
    <div class='button-holder'>
      <a href="#/test"><button type="submit" class="btn btn-primary btn-lg" ng-click="createNewTestCycle()" ng-disabled="testCycle.$invalid" >Save</button></a>
      <a href="#/test" class="btn btn-primary btn-lg">Cancel</a>
    </div>

</form>
</div>
<link rel="stylesheet" href="../css/main.css">