<div class="container">
<form name="testCycle" action="">
    <div class="form-group">

      <div class='form-row'>
        <label>Application name</label>
        <select ng-required='true' name="appNameTest" id="appTest" ng-model='appNameTest' ng-options=' t._id as t.appName+" - "+ t.applicationId for t in temps | filter:{year: yearLocation}' >
          <option value="">==choose app==</option>
        </select>
      </div>

      <div class='form-row'>
        <label>Date</label>
        <input name='date' ng-model='date' type="date" ng-required='true'>
      </div>

      <div class='form-row'>
        <label>Reason</label>
        <textarea ng-required='true' ng-model='reason' name="reason" id="" cols="23" rows="5" ng-init='reason="Several issues were found on App QA stage"'></textarea>
      </div>

      <div class='form-row'>
      <label>Primary Tester</label>
      <select ng-required='true' ng-model='tester' ng-options='tester.name for tester in testers' id="">
        <option value="">==choose tester==</option>
      </select>
      </div>

      <div class='form-row'>
      <label>Secondary Tester</label>
      <select  ng-model='secondTester' ng-options='tester.name for tester in testers' id="">
        <option value="">==choose tester==</option>
      </select>
      </div>

    </div>
    <div class='button-holder'>
      <a href="#/testList"><button type="submit" class="btn btn-primary btn-lg" ng-click="createNewTestCycle()" ng-disabled="testCycle.$invalid" >Save</button></a>
      <a href="#/testList" class="btn btn-primary btn-lg">Cancel</a>
    </div>

</form>
</div>
<link rel="stylesheet" href="../css/main.css">
